# ===== Visual Studio =====
.vs/
x64/
Debug/
Release/

# Build intermedi
*.obj
*.pdb
*.ilk
*.log
*.tlog

# File utente Visual Studio
*.vcxproj.user
*.suo

# Cache e database
*.db
*.opendb
*.ipch

# ===== Eccezioni: codice sorgente =====
!*.cpp
!*.h
!*.hpp
!*.c
