*
!*/
!*.cpp
!*.h
project/.vs/project/CopilotIndices/17.14.1347.20289/CodeChunks.db
project/.vs/project/CopilotIndices/17.14.1347.20289/CodeChunks.db
project/.vs/project/CopilotIndices/17.14.1347.20289/SemanticSymbols.db
project/.vs/project/v17/.suo
project/.vs/project/v17/DocumentLayout.backup.json
project/.vs/project/v17/DocumentLayout.json
.vs/
project/.vs/